body {
  padding: 50px;
  font: 16px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
  color: #107aff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1 a {
  font-size: 16px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #f2f2f2
}

th {
  background-color: #04AA6D;
  color: white;
}

.delete-link {
  color: red;
}

.edit-link {
  color: green;
}

.form-group {
  flex-direction: column;
  margin-bottom: 10px;
}